@font-face {
    font-family: "Outfit";
    font-weight: 300;
    font-style: normal;
    src: url('../style/fonts/Outfit-Light.ttf');
    src: url('../style/fonts/Outfit-Light.woff2');
}

@font-face {
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    src: url('../style/fonts/Outfit-Regular.ttf');
    src: url('../style/fonts/Outfit-Regular.woff2');
}

@font-face {
    font-family: "Outfit";
    font-weight: 500;
    font-style: normal;
    src: url('../style/fonts/Outfit-Medium.ttf');
    src: url('../style/fonts/Outfit-Medium.woff2');
}

@font-face {
    font-family: "Outfit";
    font-weight: 600;
    font-style: normal;
    src: url('../style/fonts/Outfit-SemiBold.ttf');
    src: url('../style/fonts/Outfit-SemiBold.woff2');
}

@font-face {
    font-family: "Outfit";
    font-weight: 700;
    font-style: normal;
    src: url('../style/fonts/Outfit-Bold.ttf');
    src: url('../style/fonts/Outfit-Bold.woff2');
}

.t1 {
    font-weight: 700;
    font-size: 128px;
    line-height: 106%;
}

.t2 {
    font-weight: 700;
    font-size: 96px;
    line-height: 106%;
}

.t3 {
    font-weight: 700;
    font-size: 64px;
    line-height: 106%;
}

.t4 {
    font-weight: 700;
    font-size: 48px;
    line-height: 106%;
}

.t5 {
    font-weight: 600;
    font-size: 48px;
    line-height: auto;
}

.t6 {
    font-weight: 700;
    font-size: 40px;
    line-height: 106%;
}

.t7 {
    font-weight: 700;
    font-size: 32px;
    line-height: 106%;
}

.t8 {
    font-weight: 700;
    font-size: 86px;
    line-height: 106%;
}

.s1 {
    font-weight: 600;
    font-size: 36px;
    line-height: auto;
}

.s2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}

.s3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.s4 {
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
}

.s5 {
    font-weight: 500;
    font-size: 20px;
    line-height: auto;
}

.s6 {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.s7 {
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
}

.b1 {
    font-weight: 500;
    font-size: 16px;
    line-height: auto;
}

.b2 {
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
}

.b3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.b4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.b5 {
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
}

.b6 {
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: underline; 
}

.b7 {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}