.works {
    &__content {
        margin-top: 100px;
        padding-top: 46px;
        padding-bottom: 46px;
        position: relative;
    }
    &__picture {
        position: absolute;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__row {
        overflow: hidden;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
    &__list {
        animation: scroll 20s linear infinite;
        display: flex;
        margin-bottom: 68px;
        li {
            margin-left: 20px;
            color: $grayscale01;
            text-shadow: 1px 0 1px $grayscale02, 
            0 1px 1px $grayscale02, 
            -1px 0 1px $grayscale02;
            &:nth-child(1) {
                color: $primary02;
                text-shadow: none;
            }
            &:nth-child(3) {
                text-shadow: none;
                color: $primary02;
            }
        }

        &:last-child {
            margin-bottom: 0;
            animation: scroll 20s linear reverse infinite;
            li {
                &:nth-child(1) {
                    text-shadow: none;
                    color: $secondary02;
                }
                &:nth-child(3) {
                    text-shadow: none;
                    color: $secondary02;
                }
            }
        }
        &:first-child {
            animation: scroll 20s linear reverse infinite;
            li {
                margin-left: 20px;
                &:nth-child(1) {
                    text-shadow: none;
                    color: $secondary01;
                }
                &:nth-child(3) {
                    text-shadow: none;
                    color: $secondary01;
                }
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translate(0%, 0);
    }

    100% {
        transform: translate(-143%, 0);
    }
}


.works {
    @media (max-width: 450px) {
        &__picture {
            width: 228px;
        }
        &__list {
            margin-bottom: 93px;
            li {
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 106%; /* 50.88px */ 
            }
        }
        &__content {
            padding-top: 101px;
            padding-bottom: 100px;
            margin-top: 40px;
        }
    }
}